MiniPracticaCliente/xml-resources/web-service-references/WSPractica/wsdl/localhost_8080/PracticaWS/WSPractica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSPractica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSPractica/" name="WSPractica">
<types>
<xsd:schema>
<xsd:import namespace="http://WSPractica/" schemaLocation="http://localhost:8080/PracticaWS/WSPractica?xsd=1" />
</xsd:schema>
</types>
<message name="ordenarNumeros">
<part name="parameters" element="tns:ordenarNumeros" />
</message>
<message name="ordenarNumerosResponse">
<part name="parameters" element="tns:ordenarNumerosResponse" />
</message>
<message name="loginAcces">
<part name="parameters" element="tns:loginAcces" />
</message>
<message name="loginAccesResponse">
<part name="parameters" element="tns:loginAccesResponse" />
</message>
<message name="calculadora">
<part name="parameters" element="tns:calculadora" />
</message>
<message name="calculadoraResponse">
<part name="parameters" element="tns:calculadoraResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="sendEmail">
<part name="parameters" element="tns:sendEmail" />
</message>
<message name="sendEmailResponse">
<part name="parameters" element="tns:sendEmailResponse" />
</message>
<portType name="WSPractica">
<operation name="ordenarNumeros">
<input wsam:Action="http://WSPractica/WSPractica/ordenarNumerosRequest" message="tns:ordenarNumeros" />
<output wsam:Action="http://WSPractica/WSPractica/ordenarNumerosResponse" message="tns:ordenarNumerosResponse" />
</operation>
<operation name="loginAcces">
<input wsam:Action="http://WSPractica/WSPractica/loginAccesRequest" message="tns:loginAcces" />
<output wsam:Action="http://WSPractica/WSPractica/loginAccesResponse" message="tns:loginAccesResponse" />
</operation>
<operation name="calculadora">
<input wsam:Action="http://WSPractica/WSPractica/calculadoraRequest" message="tns:calculadora" />
<output wsam:Action="http://WSPractica/WSPractica/calculadoraResponse" message="tns:calculadoraResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://WSPractica/WSPractica/helloRequest" message="tns:hello" />
<output wsam:Action="http://WSPractica/WSPractica/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="sendEmail">
<input wsam:Action="http://WSPractica/WSPractica/sendEmailRequest" message="tns:sendEmail" />
<output wsam:Action="http://WSPractica/WSPractica/sendEmailResponse" message="tns:sendEmailResponse" />
</operation>
</portType>
<binding name="WSPracticaPortBinding" type="tns:WSPractica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ordenarNumeros">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginAcces">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="calculadora">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSPractica">
<port name="WSPracticaPort" binding="tns:WSPracticaPortBinding">
<soap:address location="http://localhost:8080/PracticaWS/WSPractica" />
</port>
</service>
</definitions>